.avatar img {
	display: inline-block;
	border-radius: 50%;
	width: 80px;
}

.center {
	text-align: center;
}

	.center .welcome, .center .avatar {
		display: inline-block;
	}

.search {
	width: 300px;
	margin: 0 auto;
}

.welcome {
	margin: 15px 0 15px;
}